<h3 style="margin:45px 0 70px 200px;"><span class="alert-dark pl-3 pr-3">会員一覧</span></h3>
 <%= form_tag(admin_search_path, method: :get) do %>
    <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
    <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
    <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
    <%= submit_tag '検索', class: "btn btn-primary" %>
  <% end %>
  
  <table class="table table-hover table-inverse offset-md-3 col-md-6 offset-md-3">
      <thead>
      <tr class="table-active">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      </tr>
      </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admins_customer_path(customer.id) do %>
          <%= "#{customer.last_name} #{customer.first_name}" %>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= paginate @customers %>